.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #3b82f680;
  border-radius: 8px;
  background-color: #0f172a;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name input:first-child {
  margin: 0 5px 10px 0;
}

.name input:nth-child(2) {
  margin: 0 0 10px 5px;
}

.input {
  padding: 10px 15px;
  border: 1px solid #3b82f680;
  border-radius: 3px;
  margin: 0 0 10px 0;
}
